/*
    LOGIN
*/

.salesforceIdentityLoginBody button.sfdc_button.uiButton .label {
    color: #ffffff !important;
}

.salesforceIdentityLoginBody img.communityLogo {
    min-width: 250px;
}

.salesforceIdentityLoginBody div#content:before {
    top: -45px;
    bottom: -50px;
}

.salesforceIdentityLoginForm a,
.salesforceIdentityLoginBody a {
    color: #006EB3 !important;
}



/*
    MAIN
*/

.forceCommunityNavigationMenu {
    background: #3f3935;
}

.forceTopicFeaturedTopics .topicLabel {
    text-transform: lowercase;
}

.forceCommunityTrendingTopics.hideEl {
    display: initial;
}

@media only screen and (min-width: 48em) {
    .siteforceNapiliBody .cBrandingProfile {
        width: 35%;
    }

    .siteforceNapiliBody .cSearchPublisher {
        width: 40%;
    }

    .siteforceNapiliBody .cProfileCon {
        width: 25%;
    }
}