* {
    font-family: "vagrounded" !important;
    letter-spacing: 1px;
    text-transform: none;
}

body {
    .hidden {
        display: none;
    }

    .clearfix { 
        clear:both; 
    }

    .forceCommunityNavigationMenu {
        background: #3f3935;

        .menuItemLink {
            font-weight: bold;
        }
    }

    .forceTopicFeaturedTopics .topicLabel {
        text-transform: lowercase;
    }

    .forceCommunityTrendingTopics.hideEl {
        display: initial;
    }

    .forceCommunityHeadline .headlineIcon {
        display: none;
    }

    .cHeaderPanel {
        .cNavBarCon {
            display: none !important;
        }
    }

    &.siteforceNapiliStyle {
        &.blur {
            .cCenterPanel,
            .no-assigned-image,
            .forceCommunityNavigationMenu,
            .cBrandingProfile,
            .cProfileCon {
                opacity: 1 !important;
            }
        }
    }

    .siteforceNapiliBody {
        .selfServiceProfileMenuTrigger {
            .trigger-link:hover,
            .trigger-link:focus,
            .trigger-link:active {
                color: $darkGray !important;
                box-shadow: none !important;
            }

            .profileName { 
                text-transform: none !important;
            }
        }

        div[data-region-name="sidebar"] {
            .ui-widget:last-of-type {
                margin-top: 0;
            }
        }

        .cProfileCon {
            margin-top: 5px;
        }

        .cBrandingLogo {
            max-height: 60px;
            height: 60px;
        }

        .selfServiceTopicTrendingArticles .listContent, 
        .forceCommunityReputationLeaderboard .listContent {
            padding: 10px 15px 15px 15px;
            background-color: #e7e7e8;
        }

        .selfServiceTopicTrendingArticles {
            .base-simple-item {
                border: none;
            }
        }

        .forceCommunityTrendingTopics {
            .forceTopicTopicList .topicItem {
                border-color: $ccc;
            }
        }
        
        .forceCommunityReputationLeaderboard .listContent {
            .userName {
                color: $navy;
            }
            .forceCommunityReputationLeaderboardRow {
                border-color: $ccc;

                .reputationCol:before {
                    background: $ccc;
                }

                &.contextUser {
                    background-color: transparent;
                }
            }
        }

        .cFooterPanel {
            background: image-url('aib-footer.jpg') no-repeat center;
            height: 300px;
            position: relative;
            color: $white;

            .footer-content, .ctaPanel {
                position: relative;
                z-index: 10;
            }

            .footer-spot {
                position: absolute;
                bottom: 0px;
                left: 0px;
                z-index: 0;
                background: image-url('footer-spot.png') no-repeat center;
                width: 385px;
                height: 216px;
            }

            .footer-hex {
                position: absolute;
                top: 0px;
                right: 0px;
                z-index: 0;
                background: image-url('footer-hex.png') no-repeat center;
                width: 402px;
                height: 300px;
            }

            .forceCommunityRichText {
                padding-top: 10px;
            }

            .cta-btn {
                width: auto;
                display: block;

                .uiButton {
                    background: transparent;
                    border: 2px solid $white;
                    width: 220px;

                    &:hover {
                        background: rgba(0, 0, 0, 0.3) !important;
                    }
                }
            }

            a {
                color: $white;
                text-decoration: underline;
            }

            .tagline {
                position: absolute;
                left: 30px;
                bottom: 33px;

                span {
                    display:block;

                    &.line1 {
                        font-size: 28px;
                    }
                    &.line2 {
                        font-size: 48px;
                        line-height: 33px;
                        font-weight: bold;
                    }
                }
            }
        }

        .forceCommunityOmniBox {

            .no-assigned-image .default-bg-overlay {
                background: none;
            }

            .body-search { 
                margin-top: 10px;
            }

            &.selfServiceSearchWrapper {
                .search-input-group {
                    height: 40px;
                    z-index: 2;
                }

                .result-container {
                    display: none;
                    z-index: 1;
                    margin-top: -25px;
                    padding-top: 28px;
                }

                .search-button.uiButton {
                    border-radius:20px;
                    background: #cb3d3c; /* Old browsers */
                    background: -moz-linear-gradient(left,  #cb3d3c 0%, #e5772d 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(left,  #cb3d3c 0%,#e5772d 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to right,  #cb3d3c 0%,#e5772d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb3d3c', endColorstr='#e5772d',GradientType=1 ); /* IE6-9 */
                    height: 40px;
                    right: -1px;

                    &:hover { 
                        background-color: $darkOrange;
                    }
                }
            
                .search-field {
                    height: 40px;
                    border-radius: 21px;
                    background: #fff;

                    &:focus {
                        box-shadow: none !important;
                    }
                }

                .has-input .search-container {
                    box-shadow: none;
                }

                &.show-result {
                    .has-input .search-container {
                        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
                    }
                }
            }

            
        }

        .slds-col--padded .ui-widget {
            margin: 36px 0 0 0;

            h2 {
                color: $orange;
                padding: .5rem 0;
                font-size: 1rem;
                text-transform: initial;
            }

            .ctaPanel {
                margin-top: 0;

                .cta_header {
                    display: none;
                }

                .contact-con .cta-btn {
                    width: 100%;
                    margin: 0.2em 0;

                    .label {
                        text-transform: none;
                    }

                    .uiButton {
                        font-weight: normal;
                        border-radius: 0;
                    }

                    .forceCommunityAskCommunity {
                        background-color: $blue;
                        font-weight: bold;
                    }

                    .communityBtn {
                        background-color: $orange;
                        font-weight: bold;
                    }
                }
            }
        }

        .uiTabBar .uiTabItem {
            &.active a.tabHeader {
                color: $orange !important;
                border-color: $orange !important;
            }

            a.tabHeader {
                color: $darkGray;

                &:hover {
                    color: $orange !important;
                }
            }
        }

        .tabs__content {
            .ui-widget:first-of-type {
                margin-top: 0 !important;
            }

            .forceTopicFeaturedTopics .topicLabel {
                display: none;
            }
        }

        .forceCommunityHeadline .headlineTitle {
            color: $red;
            font-size: 28px;
        }

        ul.tabs__nav {
            border-bottom: 6px solid $gray;
        }

        ul.subpages {
            list-style-type: none;
            padding: 0;

            li {
                float: left;
                border: 1px solid #ccc;
                margin-right: 47px;
                width: 6em;
                margin-bottom: 30px;

                a {
                    padding: 15px;
                    display: inline-block;
                    text-align: center;
                    transition: 0.3s ease all;

                    &:hover {
                        background-color: #ccc;
                    }
                }
            }
        }
    }

    .siteforceNapiliFooter .selfServiceContactSupport .label, 
    .siteforceNapiliFooter .forceCommunityAskCommunity .label {
        text-transform: none !important;
    }
}

@media only screen and (min-width: 48em) {
    body {
        .siteforceNapiliBody {
            .cBrandingProfile {
                width: 35%;
            }

            .cSearchPublisher {
                width: 40% !important;
            }

            .cProfileCon {
                width: 25%;
            }

            .cHeaderLine {
                padding: 55px 14px 135px 14px !important;
            }
        }
    }
}
