* {
    font-family: "vagrounded" !important;
    letter-spacing: 1px;
    text-transform: none;
}

body {
    .forceCommunityNavigationMenu {
        background: #3f3935;
    }

    .forceTopicFeaturedTopics .topicLabel {
        text-transform: lowercase;
    }

    .forceCommunityTrendingTopics.hideEl {
        display: initial;
    }


    .siteforceNapiliBody {
        .uiTabBar .uiTabItem {
            &.active a.tabHeader {
                color: $orange;
            }

            a.tabHeader {
                color: $darkGray;

                &:hover {
                    color: $orange;
                }
            }
        }

        li.uiTabItem.active {
            border-color: $orange;
        }

        .forceCommunityHeadline .headlineTitle {
            color: $red;
            font-size: 24px;
        }

        .forceCommunityTrendingTopics .forceTopicTopicList .topicListHeader {
            color: $orange;
            padding: .5rem 0;
            font-size: 1rem;
        }

        ul.tabs__nav {
            border-color: #bcbbb9;
        }
    }
}

@media only screen and (min-width: 48em) {
    body {
        .siteforceNapiliBody {
            .cBrandingProfile {
                width: 35%;
            }

            .cSearchPublisher {
                width: 40%;
            }

            .cProfileCon {
                width: 25%;
            }
        }
    }
}
