* {
    font-family: "vagrounded" !important;
    letter-spacing: 1px;
    text-transform: none;
}

body {
    .forceCommunityNavigationMenu {
        background: #3f3935;

        .menuItemLink {
            font-weight: bold;
        }
    }

    .forceTopicFeaturedTopics .topicLabel {
        text-transform: lowercase;
    }

    .forceCommunityTrendingTopics.hideEl {
        display: initial;
    }


    .siteforceNapiliBody {
        .forceCommunityOmniBox.selfServiceSearchWrapper {
            .search-button.uiButton {
                border-radius:20px;
                background-color: $orange;
                height: 40px;
                right: -1px;

                &:hover { 
                    background-color: $darkOrange;
                }
            }
            
            .search-field {
                height: 40px;
                border-radius: 21px;
                background-color: $musk;
                border-color: $musk;
            }
        }

        .slds-col--padded .ui-widget {
            margin: 36px 0 0 0;
        }

        .uiTabBar .uiTabItem {
            &.active a.tabHeader {
                color: $orange;
            }

            a.tabHeader {
                color: $darkGray;

                &:hover {
                    color: $orange;
                }
            }
        }

        li.uiTabItem.active {
                border-bottom: 6px solid $orange;
                margin-bottom: -6px;
                padding-bottom: 2px;
        }

        .forceCommunityHeadline .headlineTitle {
            color: $red;
            font-size: 24px;
        }

        .forceCommunityTrendingTopics .forceTopicTopicList .topicListHeader {
            color: $orange;
            padding: .5rem 0;
            font-size: 1rem;
        }

        ul.tabs__nav {
            border-bottom: 6px solid $gray;
        }
    }
}

@media only screen and (min-width: 48em) {
    body {
        .siteforceNapiliBody {
            .cBrandingProfile {
                width: 35%;
            }

            .cSearchPublisher {
                width: 40%;
            }

            .cProfileCon {
                width: 25%;
            }
        }
    }
}
