/*
body {
    ul.hive {
        list-style-position: outside;
        list-style-type: none;
        padding-left: 0;

        li {
            float: left;
            display: block;
            width: 50%;
            height: 115px;
            line-height: 115px;
            padding: 2px;
            text-align: center;
        }

        img {
            max-width: 100%;
            max-height: 100%;
            vertical-align: middle;
        }

        @media only screen and (min-width: 48em) {
            li {
                height: 360px;
                line-height: 360px;
            }
        }

        @media only screen and (min-aspect-ratio: 4/3) and (min-width: 48em), only screen and (min-width: 64.0625em) {
            li {
                width: 33.33333333333333%;
                height: 180px;
                line-height: 180px;
            }
        }

        @media (min-width: 64em) {
            li {
                margin-top: -20px;
            }

            li:nth-child(-n+3) {
                margin-top: 20px;
            }
        }
    }
}
*/

#hexGrid {
    /*overflow: hidden;*/
    width: 90%;
    padding:0.866% 0;
    font-size: 15px;
    margin-left: 1%;
}
#hexGrid:after {
    content: "";
    display: block;
    clear: both;
}
.hex {
    position: relative;
    list-style-type: none;
    float: left;
    overflow: hidden;
    visibility: hidden;
    outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
    -webkit-transform: rotate(30deg) skewY(30deg) translatez(-1px);
        -ms-transform: rotate(30deg) skewY(30deg) translatez(-1px);
            transform: rotate(30deg) skewY(30deg) translatez(-1px);
}
.hex * {
    position: absolute;
    visibility: visible;
    outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
}
.hexIn {
    display:block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    overflow: hidden;
    -webkit-transform: skewY(-30deg) rotate(60deg);
        -ms-transform: skewY(-30deg) rotate(60deg);
            transform: skewY(-30deg) rotate(60deg);
}

/*** HEX CONTENT **********************************************************************/
.hex img {
    left: -100%;
    right: -100%;
    width: auto;
    height: 100%;
    margin: 0 auto;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
}

.hex span {
    width: 102%;
    padding: 5%;
    box-sizing:border-box;
    font-weight: 300;
    bottom: 35%;
    font-size: 1.3em;
    display: block;
    margin-bottom: 5%;
    z-index: 1;
    -webkit-transform:translateY(0%) translatez(-1px) rotate(-90deg);
        -ms-transform:translateY(0%) translatez(-1px) rotate(-90deg);
            transform:translateY(0%) translatez(-1px) rotate(-90deg);

        &.twolines {
            margin-bottom: 1%;
        }
}

/*@media (max-width: 600px) {  <- 2-1  hexagons per row */
.hex {
    width: 35%; 
    padding-bottom: 40.5%;
}
.hex:nth-child(1),
.hex:nth-child(2) { /* reduce height spacing of top two empty hexagons */
    padding-bottom: 22%;
}
.hex:nth-child(3n) {
    margin-left: 31.2%;
    margin-top: -22.55% !important;
    margin-bottom: -13.423%;
    -webkit-transform: rotate(30deg) skewY(30deg) translatez(-1px);
        -ms-transform: rotate(30deg) skewY(30deg) translatez(-1px);
            transform: rotate(30deg) skewY(30deg) translatez(-1px);
}
.hex:nth-child(3) {
    margin-top: -22.5% !important;
}
.hex:nth-child(3n):last-child {
    margin-bottom: 0;
}
.hex:nth-child(3n+2) {
    margin-left: 27.5%;
}
.hex:nth-child(3n+4) {
    clear: left;
}
.hex:nth-child(3n+4),
.hex:nth-child(3n+5) {
    margin-top: -9%;
}