body {
    .profileBackground {
        height: 354px;
        background-image: image-url('profile.jpg');
        background-position: center top;
        background-repeat:no-repeat;
        position: relative;
        width: 100%;
        margin: 0 auto;

        .profileContent {
            padding-top: 230px;
            text-align: center;
            font-weight: bold;

            .name {
                color: $orange;
                font-size: 1.2rem;
            }
        }
    }

    .forceTopicFeaturedTopics .topicContent {
        background-color: initial;
    }

    .forceTopicFeaturedTopicItem.topicItem {
        height: 115px;
    }

    @media only screen and (min-width: 48em) {
        .forceTopicFeaturedTopicItem.topicItem {
            height: 360px;
        }
    }

    @media only screen and (min-aspect-ratio: 4/3) and (min-width: 48em), only screen and (min-width: 64.0625em) {
        .forceTopicFeaturedTopicItem.topicItem {
            width: 33.33333333333333%;
            height: 180px;
            padding: 2px;
        }
    }
}