.forceCommunityNavigationMenu {
    .navigationMenu {
        list-style: none;
        font-weight: bold;
        margin-bottom: 10px;
        float: left; /* Clear floats */
        width: 100%;
        /* Bring the nav above everything else--uncomment if needed.
        position:relative;
        z-index:5;
        */
        li {
            float: left;
            margin-right: 10px;
            position: relative;

            a {
                display: block;
                padding: 5px;
                color: #fff;
                background: #333;
                text-decoration: none;

                &:hover {
                    color: #fff;
                    background: #6b0c36;
                    text-decoration: underline;
                }
            }
        }
        /*--- DROPDOWN ---*/
        ul {
            background: #fff; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
            background: rgba(255,255,255,0); /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
            list-style: none;
            position: absolute;
            left: -9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
            li {
                padding-top: 1px; /* Introducing a padding between the li and the a give the illusion spaced items */
                float: none;
            }

            a {
                white-space: nowrap; /* Stop text wrapping and creating multi-line dropdown items */
            }
        }

        li:hover {
            a {
                background: #6b0c36;
                text-decoration: underline;
            }

            ul {
                left: 0; /* Bring back on-screen when needed */
                a {
                    text-decoration: none;

                    &:hover {
                        background: #333;
                    }
                }
            }
        }
    }
}
