.forceCommunityNavigationMenu {

    .navigationMenu {
        line-height: 0.7;
        z-index: 100;
        position: relative;

        * {
            line-height: normal;
        }

        li {
            margin-right: 10px;
            position: relative;

            a {
                display: block;
                padding: 9px 6px 7px;
                color: #fff;
                text-decoration: none;

                &:hover {
                    color: #a00000 !important;
                }
            }
        }
        /*--- DROPDOWN ---*/
        ul {
            background: $navGray;
            list-style: none;
            position: absolute;
            left: -9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
            padding: 4px;
            li {
                padding-top: 1px; /* Introducing a padding between the li and the a give the illusion spaced items */
                float: none;
                margin-right: 0;
            }

            a {
                white-space: nowrap; /* Stop text wrapping and creating multi-line dropdown items */
            }
        }

        li:hover {
            ul {
                left: 0; /* Bring back on-screen when needed */
                a {
                    text-decoration: none;

                    &:hover {
                        background: #fff;
                    }
                }
            }
        }
    }

    .homeButton.menuItemLink:hover, 
    .homeButton.menuItemLink:focus {
        color: #ffffff !important;
    }
}
