
.get-mediumdarkblue.get-org-chart .get-oc-tb {
    background-color: #007ac3 !important;
}

.get-mediumdarkblue .get-box, 
g.get-mediumdarkblue .get-box {
    fill: #007ac3 !important;
    stroke: #007AD8;
}
